.logDiv {
    margin: 60px auto;
    width: 30%;
    height: 365px;
    background-color: white;
    padding: 50px;
}

@media screen and (max-width: 1021px) {
    .logDiv {
        margin: 60px auto;
        width: 90%;
        height: 365px;
        background-color: white;
        padding: 20px;
        padding-top: 50px;
    }
  }